h1{
background-color: black;
color:white;text-align:center;
}
div h1{
    max-height:fit-content ;width: fit-content;
    text-align:left;
}
div  ul a{ text-align:right;text-decoration: none;
max-height: fit-content;width: fit-content;list-style-position: inside;
display: inline-block;font-size: medium;
background-color:black ;color: rgb(55, 226, 238);font-size: 20px;}
div ul {
    list-style-type: none; 
    align:right;}
div li{margin:10 10px;}
body{
font-family: Arial, Helvetica, sans-serif;
margin: 0%;
padding: 0%;
}
div{
margin: 0%;
padding: 0px;
}
@media (max-width:600px){
    div ul {
        flex-direction: column;
        text-align: center;
    }
    div a{
        margin: 10px 0;
    } 
    
}